.tooling-apps-cache/app/check-in-papi/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	
	<!-- API KIT ROUTER -->
	<flow name="api-main">
        <http:listener config-ref="apihttpListenerConfig" path="/api/v1/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="apiConfig" />
        <error-handler ref="api-main-error-handler" />
    </flow>
	
	<!-- API KIT CONSOLE -->
	<flow name="api-console">
        <http:listener config-ref="apihttpListenerConfig" path="/console/v1/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="apiConfig" />
        <error-handler ref="api-console-error-handler" />
    </flow>
    
    <!-- PUT on tickets/{PNR}/checkin -->
    <flow name="put:\tickets\(PNR)\checkin:application\json:apiConfig">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="PNR">attributes.uriParams.'PNR'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="check-in-by-pnr" doc:id="f30041d3-cdf5-49cb-a95f-ee6dc04e3a09" name="check-in-by-pnr" />
    </flow>
    
    <!-- PUT on tickets/{PNR}paymentApproval -->
    <flow name="put:\tickets\(PNR)\paymentApproval:application\json:apiConfig">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="PNR">attributes.uriParams.'PNR'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="payment-approval-by-pnr" doc:id="7f67ff2d-b74f-4c68-8cd0-59f1282be41b" name="payment-approval-by-pnr" />
    </flow>
    
    <!-- GET on tickets/{PNR} -->
    <flow name="get:\tickets\(PNR):apiConfig">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="PNR">attributes.uriParams.'PNR'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="get-by-pnr" doc:id="620066bb-6a0b-4861-8ddd-60c957986ca7" name="get-by-pnr" />
    </flow>


</mule>